[submodule "Engine/vendor/glfw"]
	url = https://github.com/glfw/glfw
	path = Engine/vendor/glfw
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
